# Dependencies
/backend/node_modules
/backend/package-lock.json
/frontend/node_modules
/frontend/package-lock.json
/frontend/*.local

# Production
/backend/dist/
/frontend/dist
/frontend/dist-ssr

# Environment variables
/backend/.env

# Editor directories and files
.DS_Store

# Tests
/backend/coverage

# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*